.skillImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;        
    gap: 30px;
    margin-top: 50px;
    /* padding: 35px; */
    
    
}

.skillImage div{
    background: #11142a;
    width: 130px;
    height: 130px;
    border-radius: 15px;
    text-align: center;
    /* padding: 15px; */
    transition: 0.3s;
}


.skillImage div:hover{
    transform:translateY(-5px);
  box-shadow:0 0 20px rgba(230, 74, 7, 0.812);
}

.boot{
    height: 100px;
    margin-bottom: 10px;
}


.talent{
    background-color: rgb(9, 9, 23);
    height: 450px;
    color: white;
}

.talent h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0px;
    padding: 20px;
    
}
.talent h3{
    margin-top: 30px;
}
@media screen and (min-width:0px) and (max-width:768px){

.talent{
    height:auto;
    padding:40px 20px;
}

.talent h1{
    font-size:30px;
}

.skillImage{
    gap:20px;
    margin-top:40px;
    padding:10px;
}

.skillImage div{
    width:100px;
    height:110px;
    padding:10px;
}

.boot{
    height:50px;
}

.skillImage p{
    font-size:14px;
}

.skillImage h3{
    font-size:14px;
    margin-top:25px;
}


}
@media screen and (min-width:768px) and (max-width:1024px){

.talent{
    height:auto;
    padding:50px 30px;
}

.talent h1{
    font-size:35px;
}

.skillImage{
    gap:10px;
    /* margin-top:50px; */
    padding:20px;
}

.skillImage div{
    width:110px;
    height:115px;
    padding:30px;
}

.boot{
    height:60px;
}

.skillImage p{
    font-size:15px;
}

.skillImage h3{
    font-size:15px;
    margin-top:0px;
}

}